body{
    background-color: #f3eae3;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .details{
    background-color: #fff;
    padding: 40px;
    
  }

  .preview{
    position: absolute;
top: 20%;
/* left: 50%; */
margin-left: auto;
margin-right: auto;
width: 50%;

  }

  .productpreview{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .image img{
    border-radius: 20px 0 0 20px;
  }

  .details{
    border-radius:  0 20px 20px 0;

  }

  h5{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
  }

  h2{
    font-family: 'Fraunces', serif;

  }
  .price{
    margin-top: 30px;
    display: flex;
    align-items: center;
  }

  .price .amount{
    font-family: 'Fraunces', serif;
    font-size: 40px;
    color: #3d8168;
    margin-right: 25px;
  }
.addtocart{
text-align: center;
margin-top: 50px;

}


.addtocart a{

color: #fff;
background-color: #3d8168;
padding: 10px 30px;
border-radius: 15px;
}

@media only screen and (max-width: 1300px) {
.productpreview{
    
    display: grid;
   grid-template-columns: 1fr;
  }

  /* .preview{
    position: absolute;
top: 0%;
margin-left: auto;
margin-right: auto;
width: 50%;

  } */

  .preview{
    position: absolute;
  top: 26%;
  left: 45%;
  width: 330px;
  height: 503px;
  transform: translate(-50%, -50%);
  }
  .image img {
  border-radius: 20px 20px 0 0 ;
}
.details {
  border-radius:0 0 20px 20px ;
}
}
